#recommended {
    display: flex;
    align-items: center;
    width: 100%;
}

#recommended>div {
    margin-left: 7%;
    display: flex;
    flex-grow: 0.5;
    justify-content: space-between;
}



#recommended>div>.rec_img {
    width: 19%;
    padding: 9.5% 0;
    background-position: center center;
}

#recommended>img {
    height: 32px;
    margin: 12px;
}

#recommended>div> a > img {
    height: 250px;
    width: 300px;
    margin: 12px;
}

#lobby {
    border: solid #f2c44c 44px;
}

#lobby>div {
    background-color: white;
    margin: 6px 8px;
}

h5 {
    color: #f2c44c;
    font-size: 15px;
}

#search {
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 32px;
}

#search>h5 {
    float: left;
    margin: 0;
}

#search>form>input {
    width: 60%;
    border-radius: 8px;
    border: 0;
    height: 24px;
}

#search>form>button>img {
    height: 20px;
}

#intro1{
  text-align: center;
  font-weight: bold;
  font-size: 125%;
  position: absolute;
  left: 255px;
  top: 310px;
  z-index:3;
  /* top:50px; */
  line-height:30px;
  color: white;
}

#intro2{
  font-size: 125%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 655px;
  top: 310px;
  z-index:3;
  /* top:50px; */
  line-height:30px;
  color: white;
}
#intro3{
  font-size: 125%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 1030px;
  top: 310px;
  z-index:3;
  /* top:50px; */
  line-height:30px;
  color: white;
}
#intro4{
  font-size: 125%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 1400px;
  top: 310px;
  z-index:3;
  line-height:30px;
  color: white;
}
