<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LEHU</title>
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/static/js/index.js"></script>

</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="./"><img src="/static/assest/mainpage logo.svg"></a>
        </div>
        <div class="nav">
            <a href="/logout"><img src="/static/assest/log out icon.svg" id="logout" /></a>
            <a href="/profile"><img src="/static/assest/profile icon.svg" id="profile" /></a>
            {%if Have_message == 0%}
            <a href="/message"><img src="/static/assest/message+icon.svg" id="group" /></a>
            {%else%}
            <a href="/message"><img src="/static/assest/message+icon+new.svg" id="group" /></a>
            {%endif%}
            <a href="/activity"><img src="/static/assest/activity icon.svg" id="activities" /></a>
            <a href="/post"><img src="/static/assest/post icon.svg" id="post" /></a>
        </div>
    </div>
    <div class="content">
        <h5>TRENDING</h5>
        <div id="recommended">
            <div style:"position:relative">
              <a href="http://{{recommend.0.Website}}" id="pic1">
                <img src="/static/media/{{recommend.0.Picture}}"/>
                <span id="intro1">{{recommend.0.Store_name}}<br>{{recommend.0.Location}}</span>
              </a>

              <a href="http://{{recommend.1.Website}}" id="pic2" >
                <img src="/static/media/{{recommend.1.Picture}}"/>
                <span id="intro2">{{recommend.1.Store_name}}<br>{{recommend.1.Location}}</span>
              </a>
              <a href="http://{{recommend.2.Website}}" id="pic3" >
                <img src="/static/media/{{recommend.2.Picture}}"/>
                <span id="intro3">{{recommend.2.Store_name}}<br>{{recommend.2.Location}}</span>
              </a>
              <a href="http://{{recommend.3.Website}}" id="pic4" >
                <img src="/static/media/{{recommend.3.Picture}}"/>
                <span id="intro4">{{recommend.3.Store_name}}<br>{{recommend.3.Location}}</span>
              </a>
            </div>
            <img src="/static/assest/refresh.svg" id="refresh">
        </div>
        <div id="search">
            <h5>SEARCH</h5>
            <form action="/search/" method="get" accept-charset="utf-8">
              <input class="searchfield"  name="q" type="text" placeholder="Search">
              <button class="searchbutton" type="submit">
                <img src="/static/assest/search.svg" alt="search" height ="25px" width="25px">
                <i class="fa fa-search"></i>
              </button>
            </form>
            <!-- <input type="text" name="search">
            <a href="./search.html"><img src="/static/assest/search.svg" alt="search" height ="25px" width="25px"></a> -->
        </div>
        <h5>LOBBY</h5>
         <img src="/static/assest/refresh.svg" id="refresh_activity">
        <div id="lobby">
                {% for activity in object_list %}
                <div><a href="/details/{{activity.activity_id}}/register">{{ activity.pub_date }}  &nbsp;- &nbsp;
                  {{ activity.activity_title }}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Category:&nbsp;{{ activity.get_Category_display }} &nbsp; &nbsp;
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;Location:&nbsp;{{activity.location}}</a> </div>
                    {% empty %}
                    <div>No activity yet.<div>
                {% endfor %}
                 <!-- <a class="btn btn-primary" href="{% url 'activitypost' %}"> Create New</a> -->

        </div>

    </div>
</body>

</html>
