<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/static/js/profile.js"></script>
    <title>Profile</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="./"><img src="/static/assest/mainpage logo.svg"></a>
        </div>
        <div class="nav">
          <a href="/logout"><img src="/static/assest/log out icon.svg" id="logout" /></a>
          <a href="/profile"><img src="/static/assest/profile icon.svg" id="profile" /></a>
          {%if Have_message == 0%}
          <a href="/message"><img src="/static/assest/message+icon.svg" id="group" /></a>
          {%else%}
          <a href="/message"><img src="/static/assest/message+icon+new.svg" id="group" /></a>
          {%endif%}
          <a href="/activity"><img src="/static/assest/activity icon.svg" id="activities" /></a>
          <a href="/post"><img src="/static/assest/post icon.svg" id="post" /></a>
          <img src="/static/assest/post icon.svg" id="post" />
        </div>
    </div>
    <div class="content">
        <div id="head">
            <h1>PROFILE</h1>
            <img id="edit" src="/static/assest/edit icon.svg">
            <img id="save" src="/static/assest/save icon.svg" >
            <img id="cancel" src="/static/assest/cancel icon.svg">
        </div>
        <div id="body">
            <div>
                <img id="photo" alt="[photo]" src="/static/media/{{profile.image}}">
                <input type="file" id="upload_photo">
                <img id="change_photo" src="/static/assest/change photo icon.svg">
            </div>
            <div id="info">
                <h1>Basic Infomation</h1>
                <div class="field">
                    <label for="nickname">Nickname</label>
                    <div class="value" name="nickname">{{profile.nickname}}</div>
                    <div class="input">
                        <input type="text" name="nickname" id="nickname" value={{profile.nickname}}>
                    </div>
                </div>
                <div class="field">
                    <label for="bio">Bio</label>
                    <div class="value" name="bio">{{profile.bio}}</div>
                    <div class="input">
                        <textarea name="bio" id="bio">{{profile.bio}}</textarea>
                    </div>
                </div>
                <div class="field">
                    <label for="favorite">Favourite Board Games</label>
                    <div class="value" name="favorite" id="favorite"><b1 id="favourite123" value={{profile.favouritegame}}>{{profile.favouritegame}}</b1></div>
                    <div class="input">
                        <select name="favourite1" id="favourite1">
                          <option value="">None</option>
                          <option value="Uno">Uno</option>
                          <option value="Gloomhaven">Gloomhaven</option>
                          <option value="The Three Kingdoms kills">The Three Kingdoms kills</option>
                          <option value="The werewolves">The werewolves</option>
                        </select>

                        <select name="favourite2" id="favourite2">
                          <option value="">None</option>
                          <option value="Uno">Uno</option>
                          <option value="Gloomhaven">Gloomhaven</option>
                          <option value="The Three Kingdoms kills">The Three Kingdoms kills</option>
                          <option value="The werewolves">The werewolves</option>
                        </select>

                        <select name="favourite3" id="favourite3">
                          <option value="">None</option>
                          <option value="Uno">Uno</option>
                          <option value="Gloomhaven">Gloomhaven</option>
                          <option value="The Three Kingdoms kills">The Three Kingdoms kills</option>
                          <option value="The werewolves">The werewolves</option>
                        </select>
                    </div>
                </div>
                <h1>Contact Infomation</h1>
                <div class="field">
                    <label for="email">Email Address</label>
                    <div class="value" name="email">{{profile.email}}</div>
                    <div class="input">
                        <input type="text" name="email" id="email" value={{profile.email}}>
                    </div>
                </div>
                <div class="field">
                    <label for="phone">Cellphone Number</label>
                    <div class="value" name="phone">{{profile.cellphone}}</div>
                    <div class="input">
                        <input type="text" name="phone" id="cellphone" value={{profile.cellphone}}>
                    </div>
                </div>
                <div class="field">
                    <label for="province">Province</label>
                    <div class="value" name="province">{{profile.province}}</div>
                    <div class="input">
                        <input type="text" name="province" id="province" value={{profile.province}}>
                    </div>
                </div>
                <div class="field">
                    <label for="city">City</label>
                    <div class="value" name="city">{{profile.city}}</div>
                    <div class="input">
                        <input type="text" name="city" id="city" value={{profile.city}}>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
