<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
  <div class="container">
      <div class="col-md-4 col-md-offset-4">
        <form class='form-login' action="/register/" method="post">
            {% csrf_token %}

            <h2 class="text-center">欢迎注册</h2>
						<p>{{errors.username.0}}</p>
					  <div class="form-group">
              <label for="id_username">Username：</label>
              <input type="text" name='username' class="form-control" id="id_username" placeholder="Username" autofocus>
            </div>
						<p>{{errors.password.0}}</p>
            <div class="form-group">
              <label for="id_password">Password：</label>
              <input type="password" name='password' class="form-control" id="id_password" placeholder="Password">
            </div>
						<p>{{errors.confirm_password.0}}</p>
					  <div class="form-group">
              <label for="id_copassword">Confirm password：</label>
              <input type="text" name='confirm_password' class="form-control" id="id_username" placeholder="Username" autofocus>
            </div>
						<p>{{errors.email.0}}</p>
            <div class="form-group">
              <label for="id_email">Email：</label>
              <input type="password" name='email' class="form-control" id="id_password" placeholder="Password">
            </div>
						<p>{{errors.gender.0}}</p>
					  <div class="form-group">
              Gender: <label for="female">Female</label>
              <input type="radio" name='gender' class="form-control" id="female",value='Female'>
							<label for="Male">Male</label>
							<input type="radio" name='gender' class="form-control" id="male",value='Male'>
						</div>
            <button type="reset" class="btn btn-default pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">提交</button>
        </form>

      </div>
  </div> <!-- /container -->
</body>
</html>
